/* section Div Table */
.Row {
    display: table;
    width: 100%; /*Optional*/
    border-spacing: 10px; /*Optional*/
    /* table-layout: fixed; /*Optional*/
}
.Column {
    display: table-cell;
}
/* end section Div Table */

/* section Drawer */
.Drawer {
  background-color: aqua;
  width: max-content;
  text-align: center;
  padding: 10px;
}

.Drawer-item {
  padding: 10px 0px 10px 0px;
}

.Drawer-item:hover {
  background-color: brown;
  color: blue;
  cursor: pointer;
}
/* end section Drawer */

/* section Content */
.Content {
  background-color: chocolate;
}

h1 {
  text-align: center;
}
/* end section Content */